data/*
!data/.gitkeep

!data/parsed
data/parsed/healthy/*
!data/parsed/healthy/.gitkeep
data/parsed/sick/*
!data/parsed/sick/.gitkeep

!data/unparsed
data/unparsed/rug_healthy/*
!data/unparsed/rug_healthy/.gitkeep
data/unparsed/rug_sick/*
!data/unparsed/rug_sick/.gitkeep

data/extracted

!data/plots
data/plots/*
!data/plots/.gitkeep

!data/convertppm.py
!data/delete.py
!data/extract.py

*.zip

augment/output/checkpoints/*

categorization/model_saves/*
categorization/model_saves/*
*/__pycache__/*


.vscode

*.pub

*.jpg
*.png

!documentation/*